:root {
  /* Colors */
  --colors-red: rgba(255, 85, 85, 1);
  --colors-red-10: rgba(255, 85, 85, 0.1);
  --colors-yellow: rgba(255, 178, 30, 1);
  --colors-yellow-10: rgba(255, 178, 30, 0.1);
  --colors-green: rgba(0, 187, 143, 1);
  --colors-green-10: rgba(0, 187, 143, 0.1);
  --colors-blue: rgba(17, 37, 214, 1);
  --colors-blue-10: rgba(17, 37, 214, 0.1);
  --colors-grey-100: rgba(152, 149, 160, 1);
  --colors-grey-200: rgba(26, 26, 54, 1);
  --colors-btn: rgba(48, 59, 89, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-white-70: rgba(255, 255, 255, 0.7);
  --colors-gradient-bg: linear-gradient(180deg, #6844ff 0%, #312cea 100%);
  --colors-gradient-shape: linear-gradient(180deg, #4d22c9 0%, #4734ee 100%);
  /* Border Radius */
  --border-radius-large: 32px;
  --border-radius-medium: 12px;
  --border-radius-btn: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: var(--colors-white);
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Container */

.container {
  display: grid;
  max-width: 600px;
}

/* Result */

.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--colors-gradient-bg);
  padding: 2.4rem 6rem 4rem;
  border-radius: 0 0 32px 32px;
}

.result__heading {
  color: var(--colors-white-70);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 3.2rem;
}

.result__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--colors-gradient-shape);
  width: 14rem;
  height: 14rem;
  clip-path: circle(50% at 50% 50%);
  margin: 0 0 3.2rem;
}

.total {
  color: var(--colors-white);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 75%; /* 54px */
  margin: 0 0 1.6rem;
}

.of-100 {
  color: var(--colors-white-70);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.status {
  color: var(--colors-white);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 1.2rem;
}

.description {
  color: var(--colors-white-70);
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

/* Summary and Skill */

.skill {
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
  margin: 0 0 1.6rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem 3.2rem;
}

.summary__heading {
  color: var(--colors-grey-200);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 2.4rem;
}

.score__text {
  color: var(--colors-grey-200);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
}

.from-100 {
  color: var(--colors-grey-100);
}

.skill__name {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.skill__text {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
}

.skill--red {
  color: var(--colors-red);
  background: var(--colors-red-10);
  border-radius: var(--border-radius-medium);
}
.skill--yellow {
  color: var(--colors-yellow);
  background: var(--colors-yellow-10);
  border-radius: var(--border-radius-medium);
}
.skill--green {
  color: var(--colors-green);
  background: var(--colors-green-10);
  border-radius: var(--border-radius-medium);
}
.skill--blue {
  color: var(--colors-blue);
  background: var(--colors-blue-10);
  border-radius: var(--border-radius-medium);
}

/* Button */

.btn {
  background: var(--colors-btn);
  border-radius: var(--border-radius-btn);
  color: var(--colors-white);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  padding: 1.6rem 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--colors-gradient-bg);
}

/* Responsive for desktop */

@media screen and (min-width: 768px) {
  body {
    align-items: center;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--border-radius-large);
    overflow: hidden;
    box-shadow: 8px 8px 52px -16px rgba(17, 37, 214, 0.2);
    max-width: 736px;
    height: fit-content;
  }

  .result {
    border-radius: var(--border-radius-large);
    padding: 3.8rem 6rem 5.6rem;
  }

  .result__heading {
    font-size: 2.4rem;
  }

  .result__score {
    width: 20rem;
    height: 20rem;
  }

  .total {
    font-size: 7.2rem;
  }

  .of-100 {
    font-size: 1.8rem;
  }

  .status {
    font-size: 3.2rem;
  }

  .description {
    font-size: 1.8rem;
  }

  .summary {
    justify-content: space-between;
  }

  .summary__heading {
    font-size: 2.4rem;
  }

  .score__text {
    font-size: 1.8rem;
  }

  .skill__text {
    font-size: 1.8rem;
  }
}
